# Django Configuration
SECRET_KEY=!eu_ptc+kczqgh7n=a%wg6rfwj)i)#1nnobdht*%8na(n4-0@$
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DATABASE_URL=sqlite:///db.sqlite3

# Frontend
VITE_DEV_SERVER_URL=http://localhost:5173
