{# Twitter/X Card meta tags #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url"
      content="{% block twitter_url %}{{ request.build_absolute_uri }}{% endblock %}" />
<meta name="twitter:title"
      content="{% block twitter_title %}{{ SITE.site_name|default:'MySite' }}{% endblock %}" />
<meta name="twitter:description"
      content="{% block twitter_description %}{{ SITE.og_description|default:'MySite - A modern Django + Vite application' }}{% endblock %}" />
{% if SITE.twitter_site %}
  <meta name="twitter:site" content="{{ SITE.twitter_site }}" />
{% endif %}
